$rich-black: rgba(14, 19, 31, 1);
$delft-blue: rgba(56, 64, 95, 1);
$english-violet: rgba(89, 84, 108, 1);
$cadet-gray: rgba(139, 147, 156, 1);
$imperial-red: rgba(255, 0, 53, 1);
$default-padding: 3rem;

a {
  font-size: 1.6rem;
  text-decoration: none;
}
ul {
  list-style-type: none;
}
